

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>Marine Insurance | 
 Log in 
</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  <link rel="shortcut icon" type="image/png" href="public/img/favicon.ico"/>
  
  <!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="public/css/jquery-ui.min.css" rel="stylesheet" />
  <link href="public/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    
          
             <link href="public/css/style.css" rel="stylesheet" />
        
    
  
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PQ7SHJ2');</script>
<!-- End Google Tag Manager -->

  <link href="public/css/style-responsive.min.css" rel="stylesheet" />
  <link href="public/css/default.css" id="theme" rel="stylesheet" />
  <link href="public/css/animate.min.css" rel="stylesheet" />
  <link href="public/css/parsley.css" rel="stylesheet" />
  
<style type="text/css">
  .quotes{
      border:1px solid #ccc;
      border-radius: 15px;
  }
</style>

  <!-- ================== END BASE CSS STYLE ================== -->
  
  <!-- ================== BEGIN BASE JS ================== -->
  <script src="public/js/pace.min.js"></script>
  <!-- ================== END BASE JS ================== -->
</head>
<body class="bg-silver">
    
       <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQ7SHJ2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
    <!-- BEGIN #page-container -->
    <div id="page-container" class="fade">
    
          
            

<!-- BEGIN #top-nav -->
        <div id="top-nav" class="top-nav">
            <!-- BEGIN container -->
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown dropdown-hover">
                            <a href="#" data-toggle="dropdown"><img src="public/img/english.png" class="flag-img" alt="" /> English <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><img src="public/img/english.png" class="flag-img" alt="" /> English</a></li>
                                <li><a href="#"><img src="public/img/french.png" class="flag-img" alt="" /> French</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="tel:+254719071999" class="contact">+254 719 071 999</a></li>
                    </ul>
                </div>
            </div>
            <!-- END container -->
        </div>
        <!-- END #top-nav -->
    
        <!-- BEGIN #header -->
        <div id="header" class="header">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN header-container -->
                <div class="header-container">
                    <!-- BEGIN navbar-header -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="header-logo">
                            <a href="https://www.icealion.com/">
                                
                                  <img src="public/img/logo.jpg" alt="" width="150px" />
                                                              
                            </a>
                        </div>
                    </div>
                    <!-- END navbar-header -->
                    <!-- BEGIN header-nav -->
                    <div class="header-nav">
                        <div class=" collapse navbar-collapse" id="navbar-collapse">
                            <ul class="nav">
                                <li><a href="https://www.icealion.com/">ICEA LION Website</a></li>
                                <li><a href="/quotation/">Get a Quote</a></li>                           
                                <li><a href="https://www.icealion.com/about-us">About us</a></li>
                                <li><a href="/faq/">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- END header-nav -->
                    <!-- BEGIN header-nav -->
                    <div class="header-nav">
                        <ul class="nav pull-right">
                            <li class="dropdown dropdown-hover">
                                
                                    <a href="#" class="header-cart" data-toggle="dropdown">
                                    <i class="fa fa-shopping-bag"></i>
                                    <span class="total">0</span>
                                    <span class="arrow top"></span>
                                </a>
                                
                            </li>
                            <li class="divider"></li>
                            
                            <li>
                                <a href="/login/">
                                    <img src="public/img/user.jpg" class="user-img" alt="" /> 
                                    <span class="hidden-md hidden-sm hidden-xs">Login / Register</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    <!-- END header-nav -->
                </div>
                <!-- END header-container -->             
            </div>
            <!-- END container -->
        </div>
        <!-- END #header -->
        
        <!-- BEGIN #page-header -->
        <div id="page-header" class="section-container page-header-container bg-black hide">
            <!-- BEGIN page-header-cover -->
            <div class="page-header-cover">
                <img src="public/img/about-us-cover.jpg" alt="" />
            </div>
            <!-- END page-header-cover -->
            <!-- BEGIN container -->
            <div class="container">
                <h1 class="page-header"><b>About</b> Us</h1>
            </div>
            <!-- END container -->
        </div>
        <!-- BEGIN #page-header -->
        
        
        <div class="container">

        
<!-- BEGIN #my-account -->
<div id="about-us-cover" class="section-container">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN breadcrumb -->
        
        <!-- END breadcrumb -->
        <!-- BEGIN account-container -->
        <div class="account-container-home">
            <!-- BEGIN account-sidebar -->
            <div class="account-sidebar-home">
                
                                                       
                  <div class="account-sidebar-cover-home">
                  
                  </div>
                  <div class="account-sidebar-content">
                      <p></p>
                  </div>
                  
                                
            </div>
            <!-- END account-sidebar -->
            <!-- BEGIN account-body -->
            <div class="account-body-home">
                <!-- BEGIN row -->
                <div class="row">
                    <div class="row" id="errors">
                    
                  
                </div>
                 
                    <!-- BEGIN col-6 -->
                    <div class="quote">
                        <legend> Login details</legend>
                        
                        <form method="post" id="login-form" name="form" action="send" class="margin-bottom-0" id="login-form">
                            <input type='hidden' name='csrfmiddlewaretoken' value='P0H7GiO2doxLflvdq75AAFYTTTts8fum' />
                            
                            <div class="form-group m-b-20">
                                <input autofocus="true" class="form-control input-lg" data-parsley-error-message="Please enter email address." data-parsley-required="true" id="email" name="email" placeholder="Email address" type="email" />
                            </div>
                            <div class="form-group m-b-20">
                                 <input autofocus="true" class="form-control input-lg" data-parsley-error-message="Please enter your password." data-parsley-required="true" id="password" name="password" placeholder="Password" type="password" />
                            </div>
                            <div class="login-buttons btn-block">
                                <button type="submit" class="btn btn-primary">Login</button>
                                
                                
                            </div>
                            <div class="m-t-20">
                                Not a member yet? Click <a href="/register/">here</a> to register.
                            <br />
                                Forgot password? Click <a href="/password/reset/">here</a> to reset.
                            </div>
                        </form>
                    </div>
                    
                    <!-- END col-6 -->
                    
                    
                    
                    <!-- END col-6 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END account-body -->
        </div>
        <!-- END account-container -->
    </div>
    <!-- END container -->
</div>
<!-- END #about-us-cover -->


        </div>        
      
          
            <!-- BEGIN #footer -->
<div id="footer" class="footer">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN row -->
        <div class="row">
            <!-- BEGIN col-6 -->
            <div class="col-md-6">
                <h4 class="footer-header">ABOUT US</h4>
                <p>
                    As one of the largest insurers and financial services companies in East Africa, ICEA LION has decades of experience in helping discerning individuals protect and create their wealth. But that’s not all. We also keep an eye firmly on the future, using innovation to craft financial products and services that we know you need in today’s constantly changing world.
                </p>
            </div>
            <!-- END col-6 -->
            <!-- BEGIN col-3 -->
            <div class="col-md-3">
                <h4 class="footer-header">OUR BUSINESS</h4>
                <ul class="list-unstyled">
                    <li>
                        <div class="info">
                            <a href="https://www.icealion.com/protect-my-wealth" target="blank">Protecting your wealth</a>
                        </div>
                    </li>
                    <li>
                        <div class="info">
                            <a href="https://www.icealion.com/create-my-wealth" target="blank">Creating your wealth</a>
                        </div>                       
                    </li>
                    <li>
                        <div class="info">
                            <a href="https://www.icealion.com/guide-me" target="blank">Guide me</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END col-3 -->
            <!-- BEGIN col-3 -->
            <div class="col-md-3">
                <h4 class="footer-header">OUR CONTACT</h4>
                <address>
                    ICEA LION Centre, Riverside Park - Chiromo Road
                    P.O. Box 30190 – 00100 Nairobi, Kenya<br />
                    Tel: +254 719 071 999<br />
                    Email marine@icealion.com<br />
                 </address>
            </div>
            <!-- END col-3 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>
<!-- END #footer -->

        
    
        <!-- BEGIN #footer-copyright -->
        <div id="footer-copyright" class="footer-copyright">
            <!-- BEGIN container -->
            <div class="container">
                <div class="payment-method">
                    <img src="public/img/payment_method.png" alt="" />
                </div>
                <div class="copyright">
                    &copy; 2018. All Rights Reserved. 
                </div>
            </div>
            <!-- END container -->
        </div>
        <!-- END #footer-copyright -->
    </div>
    <!-- END #page-container -->
    
  <!-- ================== BEGIN BASE JS ================== -->
  <script src="public/js/jquery-1.9.1.min.js"></script>
  <script src="public/js/jquery-migrate-1.1.0.min.js"></script>
  <script src="public/js/jquery-ui.min.js"></script>
  <script src="public/js/bootstrap.min.js"></script>
<!--   [if lt IE 9]>
    <script src="/static/crossbrowserjs/html5shiv.js"></script>
    <script src="/static/crossbrowserjs/respond.min.js"></script>
    <script src="/static/crossbrowserjs/excanvas.min.js"></script>
 [endif] -->
  <script src="public/js/jquery.cookie.js"></script>
  <script src="public/js/parsley.js"></script>
  <script src="public/js/apps.min.js"></script>
  <!-- ================== END BASE JS ================== -->
  
  <script>
      $(document).ready(function() {
          App.init();
      });
  </script>
  
<!-- <script src="/static/plugins/autoNumeric/dist/autoNumeric.js"></script> -->
<script>
   
</script>

</body>
</html>
